<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 难度选择页面，强制竖屏 -->
        <activity
            android:name="edu.hitsz.application.DifficultyActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 游戏主页面，同样强制竖屏（可选，保持一致性） -->
        <activity
            android:name="edu.hitsz.application.GameActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity android:name=".application.RankActivity" />
        <activity android:name=".application.GlobalRankActivity" />
        <activity android:name=".application.BattleRoomActivity" />
    </application>

</manifest>
